@charset "UTF-8";
* {
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    padding-top: 65px;
}

img {
    border: 0 none;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    overflow: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*处理IE8中的a标签虚线框*/
a:focus {
    outline: none \9;
}

.fontNar {
    font-family: narnfontregular;
}

/*导航样式开始*/
.navbar {
    margin-bottom: 0;
}

.navBg {
    background-color: #185e84;
}

.navBg .icon-bar {
    background-color: white;
}

.navMenu {
    color: white;
    font-size: 18px;
}

/*导航样式结束*/

/*顶部banner样式开始*/
.bannerBox {
    background-color: #deecdf;
}

.headBanner {
    padding: 50px 0;
    text-align: center;
}

.headBanner img {
    width: 160px;
}

.headBanner .fristBannerTitle {
    font-size: 36px;
}
/*顶部banner样式结束*/
/*个人信息开始*/
.myInf{
    padding: 50px 0;
}
.myInf .secBannerTitle{
    font-size: 28px;
}

/*个人信息结束*/
/*插件修改开始*/
/*bootstrap*/
.progress {
    border-radius: 10px;
}

.progress-bar {
    border-radius: 10px;
    text-align: right;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.progress-bar span {
    padding: 0 8px;
    color: #222 \9;
}

.progress .green {
    background-color: #99ce5f \9;
    background-image: linear-gradient(to bottom, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
}

.progress .red {
    background-color: #e15a4a \9;
    background-image: linear-gradient(to bottom, #ea8a7e 0%, #e15a4a 70%, #db3a27 100%);
}

.progress .blue {
    background-color: #7bbbe2 \9;
    background-image: linear-gradient(to bottom, #aed5ed 0%, #7bbbe2 70%, #5aaadb 100%);
}

.progress .orange {
    background-color: #f5c462 \9;
    background-image: linear-gradient(to bottom, #f8da9c 0%, #f5c462 70%, #f2b63c 100%);
}

.progress .withe {
    background-color: #dbdbdb \9;
    background-image: linear-gradient(to bottom, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
}

/*layui*/
.layui-nav .layui-nav-item, .layui-tab-title li {
    display: block;
}

.layui-nav {
    background: none;
}

/*插件修改结束*/
/*自定义多媒体查询开始*/
@media screen and (min-width: 768px) {
    .layui-nav .layui-nav-item, .layui-tab-title li {
        display: inline-block;
    }

    .headBanner {
        padding: 100px 0;
    }

    .navBg {
        height: 62px;
    }

    .myInf{
        padding: 100px 0;
    }
}

